@font-face
{
    font-family: bmitra;
    src: url("../font/B_Mitra.ttf");
}

body
{
    direction: rtl;
    margin: 0px;
    background-image: url("../image/bodyback.png");
    background-repeat: repeat;
    font-family: bmitra;
}

#main{
padding: 0px;
width: 330px;
margin:  auto;
margin-top: 150px;
background-color: white;
}

#header
{
	width: 100%;
	display: table;
    padding: 0px;
    border-width: 0px;
    color: ivory;
    margin-bottom: 5%;
    padding-top: 20px;
    padding-bottom:20px;
    background-color:  	rgb(0,171,189);
}

.icon-container
{
	float: right;
	width: 45px;
	height: 45px;
	margin-right: 10px;
	border-radius: 27px;
	border: 1px solid #ec3543;
	background-color: white;
	color: #ec3543;
	text-align: center;
	font-size: 30px;
}

.icon-container div{
	padding-top:5px;
}

#header-title
{
	float: right;
	margin-right: 10px;
	margin-top: 7px;
	text-align: center;
    font-size: 22px;
    font-weight: bold;
}

#content
{
    width: 60%;
    margin:0px auto;
    padding: 0px;
}


label
{
    color: rgb(0,121,139);
    text-align: center;
    font-size: 18px;
}

.errorMessage
{
    color: red;
    font-size: 15px;
}

.textinput
{
    width: 100%;
    height: 30px;
    padding-right: 5px;
    margin-top:7px;
    margin-bottom: 10px;
    font-family: bmitra;
    font-size: 18px;
    border: none;
    border-top: 2px solid #00abbd;
    border-bottom: 2px solid #00abbd;
}

.textinput:focus{
    background-color: rgba(0,171,189,0.2);
    border-color: #ec3543;
    
}

.error {
  border-color:red;
}

#buttonContainer
{
width: 40%;
margin: 0px auto;
padding: 0px;
margin-bottom:20px; 
}

#button
{
    width: 100%;
    color: white;
    font-family: bmitra;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    cursor: pointer;
    background-color: rgb(0,171,189);
    border: none;
}

#button:hover
{
    background-color: #ec3543;
    color: white;
}

#forget, #forget a
{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: rgb(0,171,189);
}

#forget a:hover
{
    color: white;
    background-color:#ec3543;
}

#footer
{
    background-color: rgb(0,171,189);
    text-align: center;
    height: 30px;
    color: white;
    text-decoration: none;
    margin-bottom: 0px;
}

.checked{
	color: #ec3543;
}

.browser-msg{
	width: 100%;
	padding: 5px;
	background-color: #ec3543;
	font-size: 18px;
	text-align: center;
	color:white;
}