@font-face
{
    font-family: bmitra;
    src: url("../font/B_Mitra.ttf");
}

body
{
	direction: rtl;
	background-image: url("../image/bodyback.png");
	font-family: bmitra;
	margin:0px;	
	padding: 0px;
	width: 100%;
}

#pageLoading{
	width: 40%;
	margin: 0px auto;
	margin-top: 20%;
	padding-bottom: 20px;
	text-align: center;
	background-color: white;
	border-top:3px solid rgb(0,171,189);
	border-bottom:3px solid rgb(0,171,189);
}

#pageLoading h3,h5{
	margin:0px auto;
	color: #008291;
	badding: 0px;
}

#pageLoading #pageLoadingBar{
	width: 80%;
	margin:0px auto;
	border: 1px solid rgb(0,171,189);
}

#container
{
	width: 100%;
	background-color: none;
	margin:0px;	
	padding: 0px;
}
/* 
#head{
	width: 100%;
	position: fixed;
	top: 0px;
} */

#header
{
	float: right;
	width: 100%;
	background-color: rgb(0,171,189);
	padding: 5px 0px 7px 0;
}

.notification-icon{
	float: right;
	margin: 7px 20px 0px 0px;  
	color: #ec3543;
	font-size: 25px;
	position: relative;
	cursor: default;
}

.notification-icon #tooltip{
	width: 200px;
	visibility: hidden;
	position: absolute;
	z-index: 1;
	margin: 0px;
	border: 1px solid rgb(0,171,189);
	border-radius: 5px;
	background-color: white;
	top: 52px;
}

.notification-icon #tooltip::before{
	content: "";
    position: absolute;
    top: -16px;
    right: 8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent rgb(0,171,189) transparent;
}

.notification-icon:hover #tooltip{
	visibility: visible;
	-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.icon-container
{
	float: right;
	width: 45px;
	height: 45px;
	border-radius: 25px;
	border: 1px solid #ec3543;
	background-color: white;
	color: #ec3543;
	text-align: center;
	font-size: 30px;
	cursor: default;
	margin-right: 5px;
}


.icon-container:hover
{
	background-color: #ec3543;
	color: white;
}

.mini-icon-container{
	float: right;
	width: 27px;
	height: 27px;
	border-radius: 15px;
	background: #ec3543;
	color: white;
	text-align: center;
	font-size: 20px;
	cursor: default;
	margin-right: 5px;
}

.mini-icon-container div{
	padding-top: 3px;	
}

#header .header-item
{
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	color: white;
	font-size: 22px;	
}

.popup-container
{
	position: relative;
	cursor: pointer;
}

.popup-content
{
	width: 150px;
	visibility: hidden;
	position: absolute;
	z-index: 1;
	margin: 0px;
	border: 1px solid rgb(0,171,189);
	border-radius: 5px;
	background-color: white;
	top: 58px;
}

#user-menu::before {
    content: "";
    position: absolute;
    top: -16px;
    right: 12px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent rgb(0,171,189) transparent;
}

.popup-content-show
{
	visibility: visible;
	-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.popup-item {
	display: block;
	width: 100%;
	height: 25px;
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	text-align: right;
	padding-top: 3px;
	padding-bottom: 3px;
}

.popup-item:hover{
	background-color: rgba(0,171,189,0.25);
}

.popup-item span{
	color: #ec3543;
	margin-right: 5px;
}

.popup-content hr{
	width: 100%;
	height: 1px;
	display: block;
	background-color: rgb(0,171,189);
	margin: 0px;
	border: none;
}

#progressBar{
	clear: both;
}

#content{
	width: 900px;
	margin: 0px auto;
	margin-top: 10px;
}

#tabs{
	width: 100%;
	display: table;
	background-color: white; 
}

.tab{
	float:right;
	width:33.3%;
	height: auto;
	text-align: center;
	font-size: 22px;
	color: #008291;
	background-color: white;
	cursor: pointer;
	border-top: 5px solid rgb(0,171,189);
}

.tab:hover{
	color: #ec3543;
}

#tabs .selected{
	background-color: rgba(236,53,67,0.2);
	border-color: #ec3543;
	color: #ec3543;
	cursor: default;
}
.tabContent{
	width: 100%;
	margin-top: 10px;
	padding-bottom: 10px;
	border-top:3px solid rgb(0,171,189);
	border-bottom:3px solid rgb(0,171,189);
	background-color: white;
	-webkit-animation: fadeIn 0.6s;
    animation: fadeIn 0.6s;
   	height: 600px;
}

.list{
	width: 240px;
	height: 550px;
	float: right;
	margin: 25px;
	margin-left: 0px;
	margin-top: 0px;
	max-width: 240px;
	max-height: 550px;
	overflow-y: auto;
	overflow-x: hidden;
	border-top: 2px solid #ec3543;  	
	border-bottom: 2px solid #ec3543;
}

.list-item{
	margin-top: 5px;
	width: 240px;
	height: 35px;
}

.list-item .item-modal-btn{
	width: 30px;
	height: 30px;
	float: right;
	padding-top: 5px;
	color: #ec3543;
	background-color: rgba(236,53,67,0.2);
	font-size: 20px;
	cursor: pointer;
}

.list-item .item-modal-btn:hover{
	color: white;
	background-color: #ec3543;
}

.item-name {
	display: block;
	width: 205px;
	height: 35px;
	float: right;
	color: #008291;
	text-align: right;
	font-size: 20px;
	cursor: pointer;
	padding-right: 5px;
	background-color: #bce8ed;
}

.wide-item{
	width: 235px;
}

.item-name:hover{
	color:#ec3543;
}

.no-item{
	color:#ec3543;
	text-align: center;
}

.list-item .selected{
	color:#ec3543;
	background-color: rgba(236,53,67,0.2);
	cursor: default;
}

.list-item-content{
	float: right;
	width: 585px;
	height: 550px;
	max-height: 550px;
	overflow-y: auto;
	overflow-x: hidden;
	border-top: 2px solid #ec3543;
	border-bottom: 2px solid #ec3543;
	margin: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.accordion-item{
	width: 585px;
	max-width: 575px;
	color: #008291;
	font-size: 20px;
	float: right;
	margin-top: 5px;
}

.accordion-item-header{
	width: 585px;
	height:35px;
	cursor: pointer;
}
.accordion-item-info{
	width: 80%;
	height:35px;
	background-color: #98dde4;
	float: right;
}

.accorrdion-open , .accordion-item-info:hover{
	color: #ec3543;
}

.btn-icon{
	width: 30px;
	height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	float: right;
}

.accordion-item-name{
	display: block;
	float: right;
	padding-right:10px;
	overflow-x: hidden;
	color: black;
}

.follow-btn{
	background-color: rgba(236,53,67,0.2);
	width:20%;
	height: 35px;
	color: #ec3543;
	float: right;
	display: block;
}

.follow-btn:hover{
	background-color: #ec3543;
	color: white;
}

.follow-btn span{
	padding-right: 5px;
	float: right;
}

.hidden{
	display: none;
}

.accordion-item-content{
	width: 585px;
	padding: 0px;
	color: black;
	font-size: 18px;
/* 	border-top: 1px solid rgb(0,171,189);
	border-bottom: 1px solid rgb(0,171,189); */
	max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
	}

.accordion-item-show{
	background-color: #d2eff2;
	/* margin-top: 5px; */ 
	padding-top: 15px;
	padding-bottom: 15px;
	max-height: 300px;
    overflow-x: hidden;
	opacity: 1;
    }
    
.accordion-item-content p{
	margin: 0px;
	padding: 0px;
	padding-right: 15px;
	padding-left: 15px;
}

.toolsbar{
	margin: 0px auto;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 850px;
	height: 35px;  
}

.toolsbar .tools{
	width: 585px;
	height: 100%;
	max-width:585px;
	float: right;
}

.button{
	width: 240px;
	height: 35px;
	margin-left: 25px;
	color: white;
	background-color: #00ABBD;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	float: right;
}

.button:hover{
	background-color: #ec3543;
}

.input{
	height: 30px;
	width: 240px;
	border: none;
	border-top: 2px solid #00ABBD;
	border-bottom: 2px solid #00ABBD;
	padding: 0px;
	font-family: bmitra;
	font-size: 18px;
	display: block;
}

.label{
	display: block;
	margin-top: 5px;
	font-size: 18px;
	color: #008291;
	font-weight: 500;
}

.input:focus{
	background-color: #bce8ed;
	border-top: 2px solid #ec3543;
	border-bottom: 2px solid #ec3543;
}

.texterea{
	min-height: 200px;
	min-width: 500px;
	max-height: 200px;
	max-width: 500px;
}

.form-container{
	width: 600px;
	height: 550px;
	margin: auto;
	border-top: 2px solid #ec3543;
	border-bottom: 2px solid #ec3543;
	margin-top: 42px;
	-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.form-content{
	color: #008291;;
	margin: 0px auto;
	display: table;
}

.form-btn{
	width: 150px;
	height: 34px;
	font-size: 20px;
	color: white;
	background-color: #00ABBD;
	text-align: center;
	cursor: pointer;
	display: inline-block;
}

.form-btn:hover{
	background-color: #ec3543;
}

.buttons-bar{
	margin:0 auto;
	padding-top: 10px;
	display: table;
}

.vlidation-message{
	margin:0px;
	color: red;
	font-size: 16px;
}

.checkbox{
	margin-top: 10px;
	display: inline-block;
}

.file-upload-container{
	height: 35px;
	display: table;
	margin-top: 5px;
	-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
} 

.file-upload-container label{
	height: 30px;
	font-size: 18px;
	display: inline-block;
	border-top: 2px solid #00ABBD;
	border-bottom: 2px solid #00ABBD;
	margin-right: 5px;
	width: 240px;
	max-width: 240px;
	overflow: hidden;
	font-size: 18px;
	color: black;
}

.file-upload {
    overflow: hidden;
    width: 100px;
    position: relative;
}
.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 100px;
    float: right;
}

.file-upload-container .stroge-msg{
	display: block;
}

#globalMsg{
	visibility: hidden;
    min-width: 250px; 
    background-color: white; 
    color: #008291; 
    text-align: center; 
    padding: 5px; 
    position: fixed; 
    z-index: 1;
    top: 35px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #008291;
}

#globalMsg.show{
    visibility: visible;
    -webkit-animation: global-msg-fadein 0.6s;
    animation: global-msg-fadein 0.6s;
}

@-webkit-keyframes global-msg-fadein {
    from {top: 0; opacity: 0;}
    to {top: 35px; opacity: 1;}
}

@keyframes global-msg-fadein {
    from {top: 0; opacity: 0;}
    to {top: 35px; opacity: 1;}
}

.loader{
    border-radius: 50%;
    animation: spin 0.9s linear infinite;
}

.mini-loader{
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	width: 20px;
    height: 20px;
    border: 2px solid #ec3543;
    border-top: 2px solid white;
}

.follow-btn:hover .mini-loader{
	border-color: #f2828a;
	border-top-color: white;
}

.big-loader{
	width: 70px;
    height:70px;
    border: 10px solid #FBD6D9;
    border-top: 10px solid #EC3543;
    margin: 0px auto;
    margin-top: 205px;
    display: block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin{
	0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.post-list{
	width: 100%;
	height: 500px;
	overflow-y: auto; 
}

.post-container{
	width: 100%;
	background-color: #d2eff2;
	font-size: 16px;
	margin-top: 10px;
	display: table;
}

.post-container p{
	padding: 0px;
	margin: 0px;
	margin-right: 10px;
}

.post-title{
	height: 30px;
	width: 100%;
	font-size: 20px;
	background-color: #98dde4;
	overflow-x: hidden;
	float: right;
}

.post-title span{
	padding-right: 5px;
}

.board-button{
	clear: right;
	margin: 0px auto;
}

.more-post{
	width: 150px;
	height: 35px;
	margin: 0px auto;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 18px;
	text-align: center;
	background-color: #FBD6D9;
	cursor: pointer;
	color: #EC3543;
}

.post-file{
background-color: #FBD6D9;
margin-top: 5px;
}

.post-file-title{
	margin-right: 5px;
	float:right;
	width: 100%;	
}

.post-content{
	width: 100%;
	float: right;
}

.download-file{
	color: white;
	background-color: #EC3543;
	cursor: pointer;
	display: inline-block;
}

.download-file a{
	text-decoration: none;
	color: white;
	padding-right: 3px;
	padding-left: 3px;
}

.download-file span{
	padding-right: 3px;
	padding-left: 3px;
}

.image-div{
	display: inline;
	max-width: 50%;
	max-height: 300px;
	margin:0px auto;
}

.post-img{
	max-width: 280px;
	max-height: 300px;
	display: block;
	margin:0px auto;
}

.post-img:hover {opacity: 0.7;}

.no-selected-msg{
	width: 70%;
	font-size: 20px;
	background-color: #d2eff2;
	color: #ec3543;
	margin: 0px auto;
	margin-top: 10px;
	text-align: center;
	padding: 10px;
}

.modal{
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modalClose{
	position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modalClose:hover,.modalClose:focus{
	 color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    margin:0 auto;
    display: block;
    max-width: 800px;
    max-height: 650px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    font-size: 20px;
}

.dialog-content{
	padding: 15px;
	width: 40%;
	color: #008291;
    background-color: white;
    border-top: 2px solid #00ABBD;
    border-bottom: 2px solid #00ABBD;
}

.dialog-content span{
	display: table;
	margin:0px auto;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.delete-btn{
	width: 30px;
	float: left;
	background-color: #00abbd;
	color: white;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
}

.delete-btn:hover{
	background-color: #ec3543;
}

